/* ODF: CONVINCE - MAIN STYLESHEET 
=================================== */

/* Last Updated: 09.05.2012 17:15 by Laurent LANG */


/* Colors
----------

Bright green: #66CC00
Dark green: #55AF03
Orange: #F65F00
Blue: #0081A3
Light blue: #D8EDF0
Greyish blue: #BFCCD0
Text color: #444
Shadow color: #888


/* General
---------- */

.w-full { width: 100%; }
.w-960 { width: 960px; margin: 0 auto; position: relative; }
#wrapper { position: absolute; top: 88px; left: 0; width: 100%; }
body { background-color: #0081A3; }


/* Header
---------- */

#headerbg { height: 60px; background-color: #66CC00; }
header { height: 26px; padding: 17px 0; }
header img { width: 286px; height: 26px; }


/* Navigation
------------- */

#navbg { height: 28px; background-color: #55AF03; }
#mainnav { height: inherit; font-family: Helvetica, Arial, sans-serif; font-size: 12px; font-weight: bold; color: #FFF; }
#mainnav ul li { float: left; list-style: none; }
#mainnav ul li.active, #mainnav ul li:hover { background-color: #66CC00; }
#mainnav ul li a { color: #FFF; text-decoration: none; line-height: 28px; padding: 0  12px; }
#mainnav ul li a:hover, a:active { color: #FFF; text-decoration: none; }


/* Intro
--------- */

#introbg, #subnavbg { z-index: 5; height: auto; background-color: #FFF; }
#intro { padding: 15px 0 0 0; font-family: Helvetica, Arial, sans-serif; color: #444; text-align: center; }
#intro h1 { margin: 0 auto; margin-bottom: 12px; font-size: 24px; font-weight: bold; }
#intro p { margin: 0; font-size: 16px; }


/* Subnav
---------- */

#subnav { margin: 0 auto; height: auto; padding: 20px 0 0 0; font-family: Helvetica, Arial, sans-serif; color: #444; text-align: center; }
#subnav ul li { float: left; list-style: none; width: 288px; padding: 6px 6px; margin-right: 30px; font-size: 13px; line-height: 16px; font-weight: bold; }
#subnav ul li:last-child { margin-right: 0px; }
#subnav ul li a { display: block; color: #FFF; text-decoration: none; font-size: 18px; padding: 6px 0; margin-bottom: 6px; display: block; background-color: #0081A3; -webkit-box-shadow: 2px 2px 4px #888; -moz-box-shadow:2px 2px 4px #888; box-shadow:2px 2px 4px #888; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; text-shadow: 0px -1px 0px #666; }
#subnav ul li a:hover, a:active { color: #FFF; text-decoration: none; background-color: #0081A3; }


/* Ice floe border
------------------- */

#icefloe-border { height: 116px; z-index: 5; background: transparent url('../images/subnavbg_bottom_icefloe.png') no-repeat bottom center; }


/* Main
--------- */

#main { height: 800px; position: relative; margin-top: 20px; }

/* Icebear */
#icebear { position: absolute; top: 0; left: 80px; z-index: 4; width: 150px; height: 146px; background: transparent url('../images/icebear.png') no-repeat; cursor: pointer; }
#icebear:hover { -webkit-transform: rotate(2deg); }

/* Sections */
#section1 .block, #section2 .block, #section3 .block { background: transparent url('../images/icefloe_blockbg.png') no-repeat; }

/* Blocks */
.block { position: absolute; }
#block11 { width: 630px; height: 394px; right: 0; top: 0; }
#block12 { width: 630px; height: 394px; left: 0; top: 600px; }
#block13 { width: 630px; height: 394px; right: 0; top: 1200px; }
#block14 { width: 630px; height: 394px; left: 0; top: 1800px; }

#block21 { width: 630px; height: 394px; right: 0; top: 2400px; }
#block22 { width: 630px; height: 394px; left: 0; top: 3000px; }
#block23 { width: 630px; height: 394px; right: 0; top: 3600px; }
#block24 { width: 630px; height: 394px; left: 0; top: 4200px; }

#block31 { width: 630px; height: 394px; right: 0; top: 4800px; }
#block32 { width: 630px; height: 394px; left: 0; top: 5400px; }
#block33 { width: 630px; height: 394px; right: 0; top: 6000px; }
#block34 { width: 630px; height: 394px; left: 0; top: 6600px; }

